<div class="mainContents col-sm-9 col-sm-push-3 col-md-9 col-md-push-3">
  <h1 class="subtitle">Log In</h1>
  
  <div class="container form-contents">
    <p>会員の方はこちらからログイン</p>
      <%= form_with model: @customer, url:customer_session_path, id:"new_user", class:"new_user", local: true do |f| %>
        <%= render 'customer/shared/flash_messages' %>
    
        <div class="field form-group row">
          <div class="col-md-12 mb-6">
          <%= f.label :"メールアドレス", class:"form-label" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control",required: true %>
          </div>
        </div>
      
        <div class="field form-group row">
          <div class="col-md-12 mb-6">
          <%= f.label :"パスワード", class:"form-label" %>
          <%= f.password_field :password, autocomplete: "current-password", class:"form-control",required: true %>
          </div>
        </div>
      
        <div class="actions">
          <%= f.submit "ログイン", class:"form-button" %>
        </div>
    <% end %>
    
    <div class="form-comment text-right">
      <span>会員登録がお済みでない方</span>
      <span><%= render "customer/shared/links" %></span>から新規登録を行なってください。
    </div>
  </div>
</div>




