<div class="container">
  <div class="row">
    <div class="col-xs-10 p-6">
    <h3>会員詳細画面</h3>
    <table class="table table-noborder">
      <tbody>
        <tr>
          <th>顧客ID</th>
          <td>
            <%= @order.customer.id %>
            <!--%= @customer.is_deleted ?  %-->

            <% if @order.customer.is_deleted? %>
              <span class="btn btn-info">退会済み</span>
            <% else %>
              <span class="btn btn-info">会員</span>
            <% end %>
          </td>
        </tr>
        <tr>
          <!--名前をlink_toでその人の会員詳細に移動する-->
          <th>氏名</th>
          <td><%= @order.customer.first_name %>　<%= @order.customer.last_name %></td>
        </tr>
        <tr>
          <th>フリガナ</th>
          <td><%= @order.customer.kana_last_name %>　<%= @order.customer.kana_first_name %></td>
        </tr>
        <tr>
          <th>郵便番号</th>
          <td><%= @order.customer.post_code %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= @order.customer.address %></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td><%= @order.customer.phone_number %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @order.customer.email %></td>
        </tr>
        <tr>
          <td>
            <a><%= link_to "編集", edit_admin_customer_path(@order.customer),class: "btn btn-info" %></a>
          </td>
          <h1>商品一覧画面</h1>
            <table class="table table-hover table-inverse">
              <thead>
                <th>商品名</th>
                <th>単価</th>
                <th>数量</th>
                <th>小計</th>
                <th>製作ステータス</th>
              </thead>
              <tbody>
                <% @ordered.each do |customer| %>
                 <tr>
                  <th><%= customer.item.name %></th>
                  <th><%= customer.price %> 円</th>
                  <th><%= customer.amount %></th>
                  <th><%= customer.price * customer.amount  %></th>
        				<% end %>
                   <%#= form_with(model: @order, url: admin_order_path, method: :patch, local: true) do |f| %>
                  <th><%#= f.select :making_status, Order_detail.making_status.keys, class: "making_status-select" %></th>
                  <th><%#= f.submit "更新", class: "btn btn-outline-success" %></th>
        				   <%# end %>
                 </tr>
                 <tr>
                    <th>注文ステータス</th>
                    <th>
                       <% if @order.status == 1 %>
                        <%= form.select :status == 1, class: "status-select" %>
                       <% else %>
                         <%= form_with model: @order, url: admin_order_path, method: :patch, local: true do |f| %>
                          <%= f.select :status, Order.statuses.keys, class: "status" %>
                          <%= f.submit "更新" , class: "btn btn-outline-success" %>
                         <% end %>
                        <% end %>
                    </th>
                 </tr>
                </tbody>
              </table>

