<div class="container">
  <div class="row">
    <div class="col-xs-10 p-6">
    <h3>会員詳細画面</h3>
    <table class="table table-noborder">
      <tbody>
        <tr>
          <th>顧客ID</th>
          <td>
            <%= @order.customer.id %>
            <!--%= @customer.is_deleted ?  %-->

            <% if @order.customer.is_deleted? %>
              <span class="btn btn-info">退会済み</span>
            <% else %>
              <span class="btn btn-info">  会員</span>
            <% end %>
          </td>
        </tr>
        <tr>
          <!--名前をlink_toでその人の会員詳細に移動する-->
          <th>氏名</th>
          <td><%= @order.customer.first_name %>　<%= @order.customer.last_name %></td>
        </tr>
        <tr>
          <th>注文日</th>
          <td><%= @order.created_at.strftime("%Y年%m月%d日 ") %></td>
        </tr>
        <tr>
          <th>フリガナ</th>
          <td><%= @order.customer.kana_last_name %>　<%= @order.customer.kana_first_name %></td>
        </tr>
        <tr>
          <th>配送先</th>
          <td><%= @order.address %></td>
        </tr>
        <tr>
          <th>支払い方法</th>
          <td><%= @order.payment_method_i18n %></td>
        </tr>
        <!--<tr>-->
        <!--  <th>郵便番号</th>-->
        <!--  <td><%#= @order.customer.post_code %></td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--  <th>住所</th>-->
        <!--  <td><%#= @order.customer.address %></td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--  <th>電話番号</th>-->
        <!--  <td><%#= @order.customer.phone_number %></td>-->
        <!--</tr>-->
        <!--<tr>-->
        <!--  <th>メールアドレス</th>-->
        <!--  <td><%#= @order.customer.email %></td>-->
        <!--</tr>-->
        <!--<tr>-->
          <td>
            <a><%= link_to "編集", edit_admin_customer_path(@order.customer),class: "btn btn-info" %></a>
          </td>
          <h1>商品一覧画面</h1>
            <table class="table table-hover table-inverse">
              <thead>
                <th>商品名</th>
                <th>単価</th>
                <th>数量</th>
                <th>小計</th>
                <th>送料</th>
                <th>請求額</th>
                <th>製作ステータス</th>
              </thead>
              <tbody>
                <% @ordered.each do |order_detail| %>
                 <tr>
                  <th><%= order_detail.item.name %></th>
                  <th><%= order_detail.price %> 円</th>
                  <th><%= order_detail.amount %></th>
                  <th><%= order_detail.price * order_detail.amount %></th>
                  <th>800</th>
                  <th><%= order_detail.price * order_detail.amount + 800 %></th>
                  <th><%= order_detail.making_status_i18n %>

                  </th>
                  <th>
                    <%= form_with model:order_detail, url:admin_order_detail_path(order_detail), method: :patch, local: true do |f| %>
                     <%= f.select :making_status, OrderDetail.making_statuses_i18n.keys.map { |genki| [OrderDetail.making_statuses_i18n[genki], genki]}, class: "production_status-select" %></td>
                     <%= f.submit "更新", class: "btn btn-outline-success" %></td>
                    <% end %>
          				<% end %>
                  </th>
              </tr>



               <tr>
                  <%= form_with model:@order, url:admin_order_path(@order), local: true do |f| %>
                    <%= f.select :status, Order.statuses_i18n.keys.map { |genki| [Order.statuses_i18n[genki], genki]} %>
                    <%= f.submit "更新" , class: "btn btn-outline-success" %>
                   <% end %>
               </tr>



                </tbody>
              </table>

