<div class="container">
    <div class="row">
        <div class="mainContents col-sm-12 col-sm-push-4 col-md-12 col-md-push-4">
            <div class="row">
                <%= image_tag 'カート内容確認.jpeg', size:'600x60',class:"order-flow" %>
	        </div>

	        <h4 class="subtitle mx-auto">カート内容確認</h4>
        	<div class="container form-contens">
        	    <% if @cart_items.count != 0 %>
                                
        	    <p>下の内容をご確認のうえ、「ご購入手続き」ボタンを押してください。</p>

                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="col-3">商品名</th>
                                <th class="col-1">単価(税込)</th>
                                <th class="col-1">数量</th>
                                <th class="col-1">小計</th>
                                <th class="col-1"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @cart_items.each do |cart_item| %>
                                <tr>
                                    <td>
                                        <%= link_to item_path(cart_item.item_id) do %>
                                            <%= attachment_image_tag cart_item.item, :image, size:'80x80' %>
                                        <% end %>
                                        <%= cart_item.item.name %>
                                    </td>
                                    <td><%= cart_item.item.with_tax_price.to_s(:delimited) %>円</td>
                                    <td>
                                        <%= form_with model: cart_item, url:cart_item_path(cart_item), local: true do |f| %>
                                            <%= f.hidden_field :id, :value =>cart_item.id %>
                                            <%= f.select :amount, *[1..10] %>
                                            <%=f.submit "変更",class:"form-button-mini"%>
                                        <% end %>
                                    </td>
                                    <td><%= cart_item.subtotal.to_s(:delimited) %>円</td>
                                    <td><%= link_to "削除",cart_item_path(cart_item),method: :delete,class:"form-button-alert-mini" %></td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                    <table class="table">
                        <tr class="col-3 totalprice float-right">
                            <th class="col-2">合計金額</th>
                            <td class="col-1"><%= (@total.to_s(:delimited)) %>円</td>
                        </tr>
                    </table>
                    
                    <table class="table">
                        <tr class="actions col-3 float-right">
                            <td><%= link_to "カートを空にする",destroy_all_cart_items_path(@cart_item), class:"form-button-alert float-right", method: :delete  %></td>
                        </tr>
                    </table>
                </div>
                <div class="row justify-content-center">
                    <div class="actions">
                        <%= link_to "買い物を続ける",items_path,class:"form-button-alert" %>
                    </div>
                    <div class="actions">
                        <%= link_to "情報入力に進む",new_order_path,class:"form-button" %>
                    </div>
                </div>
                <% else %>
                    <div class="container contents text-center">
                        <%= image_tag 'no_cart.jpg', size:'220x220' %>
                    </div>
                    <div class="container contents text-center">
                        <h4>カートに商品が入っていません</h4>
                    </div>
                    
                    <div class="container contents text-center">
                    <div class="actions">
                        <%= link_to "買い物を続ける",items_path,class:"form-button-alert" %>
                    </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>